$color-primary: #272838;

header {
  background: $color-primary;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  align-items: center;

  a {
    color: #fff;
    text-decoration: none;
  }

  .brand {
    font-size: 2rem;
    text-decoration: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
