<div class="form-group">
  <h2>Login</h2>

  <div class="form-control">
    <label class="form-label" for="email">Email</label>
    <input id="email" [(ngModel)]="email" placeholder="Email" />
  </div>

  <div class="form-control">
    <label class="form-label" for="password">Password</label>
    <input id="password" [(ngModel)]="password" type="password" placeholder="Password" />
  </div>

  <div class="form-footer">
    <span>Don't have an account yet? <a routerLink="/sign-up">Sign Up</a></span>
    <button class="form-button" (click)="login()">Login</button>
  </div>
</div>


