<article class="home">
  <section class="hero">
    <h3 class="banner">Aim. Learn. Repeat</h3>

    <p class="highlight serif-font fs-xxl">Master your day, <span><em>one target</em></span> at a time.</p>
    <p class="fs-lg">Most people don’t struggle with learning, they struggle with focus. Cible cuts through the noise.</p>
    <div class="cta">
      <a class="button" routerLink="/sign-up">Start Learning</a>
      <span>No distractions, just progress</span>
    </div>
  </section>

  <!-- <section>
    <p>Instead of browsing endlessly, you wake up with clarity:</p>
    <p>One topic. One direction. One goal.</p>
    <p>Each day, Cible helps you stay locked on what matters — and ignore the noise that doesn’t.</p>
    <a class="button" routerLink="/sign-up">Start Learning</a>
  </section> -->
</article>
