.dashboard {
  .topic-label {
    display: grid;
    gap: .25rem;
  }
  .article {
    display: grid;
    gap: 1rem;
    line-height: 1.6;

    section {
      display: grid;
      gap: .25rem;
    }
  }
}
