<ng-container *ngIf="!loading; else loadingTpl">

  <ng-container *ngIf="noTopics; else articleTpl">
    <p>
      No topics yet.
      <a routerLink="/topics">Add topics to get started</a>
    </p>
  </ng-container>

  <ng-template #articleTpl>
    <main *ngIf="article" class="dashboard">

      <article class="article">

        <p class="topic-label">
          Today’s Focus:

          <span class="badge">{{ article.topic }}</span>
        </p>

        <h1 class="title">
          {{ article.title }}
        </h1>

        <section>
          <h2>In a Nutshell</h2>
          <p>
            {{ article.topic_in_a_nutshell }}
          </p>
        </section>

        <section>
          <h2>A Deeper Look</h2>
          <p>
            {{ article.detailed_look }}
          </p>
        </section>

        <section
          *ngIf="article.real_world_example"
        >
          <h2>Real World Example</h2>
          <p>
            {{ article.real_world_example }}
          </p>
        </section>
      </article>

    </main>
  </ng-template>

</ng-container>

<ng-template #loadingTpl>
  <p>Loading your daily learning article...</p>
</ng-template>
